name: Pipeline de Deploy (Front/Back) na AWS
on:
  push:
    branches:
      - main  
  workflow_dispatch:

jobs:
  
  verificar_mudancas:
    runs-on: ubuntu-latest
    outputs:
      frontend: ${{ steps.filter.outputs.frontend }}
      backend: ${{ steps.filter.outputs.backend }}
    steps:
      - uses: actions/checkout@v4
      - uses: dorny/paths-filter@v3
        id: filter
        with:
          filters: |
            frontend:
              - 'client/**' # Se mudar algo na pasta 'client'
            backend:
              - 'backend/**' # Se mudar algo na pasta 'backend'

  
  build_frontend:
    runs-on: ubuntu-latest
    needs: verificar_mudancas
    if: needs.verificar_mudancas.outputs.frontend == 'true'
    steps:
      - name: Checkout do código
        uses: actions/checkout@v4
      - name: Configurar Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Login no Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      - name: Compilar e Enviar Frontend para Docker Hub
        uses: docker/build-push-action@v6
        with:
          context: ./client
          file: ./client/Dockerfile
          push: true
          tags: lcarvalhop/frontend:latest,lcarvalhop/frontend:${{ github.run_number }}
          cache-from: type=gha
          cache-to: type=gha,mode=max

  build_backend:
    runs-on: ubuntu-latest
    needs: verificar_mudancas
    if: needs.verificar_mudancas.outputs.backend == 'true'
    steps:
      - name: Checkout do código
        uses: actions/checkout@v4
      - name: Configurar Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Login no Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      - name: Compilar e Enviar Backend para Docker Hub
        uses: docker/build-push-action@v6
        with:
          context: ./backend
          file: ./backend/Dockerfile
          push: true
          tags: lcarvalhop/backend:latest,lcarvalhop/backend:${{ github.run_number }}
          cache-from: type=gha
          cache-to: type=gha,mode=max


  deploy_na_aws:
    name: Deploy via SSH na Instância
    runs-on: ubuntu-latest
    needs: [verificar_mudancas, build_frontend, build_backend]
    if: always() && (needs.verificar_mudancas.outputs.frontend == 'true' || needs.verificar_mudancas.outputs.backend == 'true')
    steps:
      - name: Adicionar Chave da Instância AWS
        run: |
          mkdir -p ~/.ssh
          ssh-keyscan -H ${{ secrets.EC2_HOST }} >> ~/.ssh/known_hosts

      - name: Conectar e Fazer Rollout (Deploy)
        uses: appleboy/ssh-action@v1.2.0
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_SSH_KEY }}
          port: 22
          script_stop: true
          script: |
            set -euo pipefail
            export KUBECONFIG=/etc/rancher/k3s/k3s.yaml

            if [ "${{ needs.verificar_mudancas.outputs.frontend }}" == "true" ]; then
              echo ">> Reiniciando Deployment do FRONTEND"
              sudo kubectl rollout restart deployment frontend -n app-demo
            else
              echo ">> Frontend não mudou, pulando."
            fi

            if [ "${{ needs.verificar_mudancas.outputs.backend }}" == "true" ]; then
              echo ">> Reiniciando Deployment do BACKEND"
              sudo kubectl rollout restart deployment backend -n app-demo
            else
              echo ">> Backend não mudou, pulando."
            fi

            echo ">> Deploy finalizado com sucesso."
